.list {
  width: 100%;
  padding: 20px;
  height: 75%;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: auto;
  height: 90%;
}

.bottom-list {
  align-self: end;

  height: 10%;
  padding-top: 30px;
}
