.todo-item {
  /* Sizing */
  width: calc((100% / 2) - 40px);
  margin: 15px;
  padding: 30px 15px 15px 15px;

  /* Content */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  /* Background */
  background: url(../../../public/todo-item-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
}

.todo-buttons {
  margin-top: 10px;
}

.todo-text {
  font-family: "Caveat", cursive;
  font-weight: 700;
  color: var(--main-text-color);
  font-size: 25px;
}

.completed {
  text-decoration: line-through;
}
