.app {
  background: url(../../public/background-todo-list.png);
  background-repeat: repeat;
  background-size: contain;

  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  background: url(../../public/paper-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 100%;
  border-radius: 10px;
}
