.app {
  background: url(../../public/background-todo-list.png);
  background-repeat: repeat;
  background-size: contain;

  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 50vw;
  height: 100%;
}
