.todo-buttons button {
  padding: 3px 22px;
  font-size: 10px;
  font-weight: 700;
  margin: 12px 12px 0px 12px;
}

.add-form button {
  background-color: var(--add-form-bg-color);
  margin: 0 12px;
}

.clear-btn {
  background-color: var(--clear-btn-bg-color);
}

.red {
  background-color: var(--cancel-btn-bg-color);
}
.green {
  background-color: var(--done-btn-bg-color);
}

.yellow {
  background-color: var(--undone-btn-bg-color);
}

/* CSS */
button {
  text-transform: uppercase;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: black;

  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;

  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none black solid;

  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:focus {
  outline: 0;
}

button:after {
  content: "";
  position: absolute;
  border: 1px solid black;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  button {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
