.add-form {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--main-text-color);
}

input {
  background-color: var(--add-form-bg-color);
  color: inherit;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 10px 15px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
